---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/int
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"9069017bb5f1d3d1ae027de2ac6e8f79"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - 8373177873694eb57cde9157f91ce469
      X-Iinfo:
      - 7-34166038-34166047 NNNN CT(24 25 0) RT(1547740943578 50) q(0 0 0 -1) r(1
        1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"int",
          "sys":{
            "type":"Environment",
            "id":"int",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"y3a9myzsdjan"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "createdAt":"2019-01-08T14:07:27Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedAt":"2019-01-08T14:09:16Z"
          }
        }

  recorded_at: Thu, 17 Jan 2019 16:02:24 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/int/content_types/article
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:[...]
