---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"492c9c67669b3fa30d12ab68de398c88"
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '9'
      X-Contentful-Request-Id:
      - b006ebfdd0ff5bd9a6cd385461e3ae4e
      X-Iinfo:
      - 10-253414255-253414263 NNNN CT(0 0 0) RT(1548448094960 49) q(0 0 0 -1) r(0
        0) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"tmp-seed-data",
          "sys":{
            "type":"Environment",
            "id":"tmp-seed-data",
            "version":6,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"y3a9myzsdjan"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "createdAt":"2019-01-25T17:35:22Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedAt":"2019-01-25T17:36:27Z"
          }
        }

  recorded_at: Fri, 25 Jan 2019 20:28:15 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/content_types/article
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
 [...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/assets/4Zxm0bwR9eWSiuw442WAqS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  res[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/entries/gHpeahicxiSI8UWMWookw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  res[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/entries/5Gti0XC6Tm0moa4WMYM0cw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  re[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/entries/luZPICyHVQUYQYSAa6Imu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  res[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/entries/1JWjoImLpWAeWMCWI2WOaM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  re[...]
- request:
    method: get
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/tmp-seed-data/entries/31xMlxGaBWKw0aYK2ESgQA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
  re[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"title":{"en-US":"Article Title"},"slug":{"en-US":"a1de81bfc1d8bb6d3c2db943930f3195a6d43bb899efc313"},"image":{"en-US":{"sys":{"type":"Link","linkType":"Asset","id":"4Zxm0bwR9eWSiuw442WAqS"}}},"author":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"gHpeahicxiSI8UWMWookw"}}},"category":{"en-US":{"sys":{"type":"Link","linkType":"Entry","id":"5Gti0XC6Tm0moa4WMYM0cw"}}},"published_at":{"en-US":"2019-01-01"},"tags":{"en-US":[{"sys":{"type":"Link","linkType":"Entry","id":"luZPICyHVQUYQYSAa6Imu"}},{"sys":{"type":"Link","linkType":"Entry","id":"1JWjoImLpWAeWMCWI2WOaM"}},{"sys":{"type":"Link","linkType":"Entry","id":"31xMlxGaBWKw0aYK2ESgQA"}}]},"body":{"en-US":"This
        is the body\n\n---\n\nAnd it has a newline."}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - article
      Content-Type-Id:
      - article
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"f54c4449f5cfeb7a7ea5d894b7f41119"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35996'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-Second-Remaining:
      - '6'
      X-Contentful-Request-Id:
      - 2b62cc717f7b03fc7541afc33c763a6d
      X-Iinfo:
      - 9-220344999-220345014 NNNN CT(0 0 0) RT(1548448096564 75) q(0 0 0 -1) r(3
        3) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "y3a9myzsdjan"
              }
            },
            "id": "6evWHC7mlX0HkfbXn2mibP",
            "type": "Entry",
            "createdAt": "2019-01-25T20:28:16.794Z",
            "updatedAt": "2019-01-25T20:28:16.794Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "7mpVTy16YTWTkVoEtxgfFe"
              }
            },
            "version": 1,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "article"
              }
            }
          },
          "fields": {
            "title": {
              "en-US": "Article Title"
            },
            "slug": {
              "en-US": "a1de81bfc1d8bb6d3c2db943930f3195a6d43bb899efc313"
            },
            "body": {
              "en-US": "This is the body\n\n---\n\nAnd it has a newline."
            },
   [...]
- request:
    method: put
    uri: https://api.contentful.com/spaces/y3a9myzsdjan/environments/master/entries/6evWHC7mlX0HkfbXn2mibP/published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.6.0; platform ruby/2.4.3; os macOS/18;
      Authorization:
      - Bearer CFPAT-0d84f2b13a99c57711ba91ea31f308ff9436238effb99977fbc0e486c1c88a64
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"903d0d000ec5df4ab1c19e0c67bcb06b"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '36000'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '35999'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '10'
      X-Contentful-Ratelimit-[...]
